body { 
  margin: 0; 
  overflow: hidden; 
  font-family: 'Courier New', Courier, monospace;

  pointer-events: none;
}

.world { 
  width: 100vw; 
  height: 100vh 
}

.controls { 
  position: absolute; 
  left: 15px; 

  p {
    color: white; 
  }
}

.inspector {
  position: absolute;
  right: 15px;

  .colors {
    display: flex;
    align-items: center;

    p {
      color: white;
    }

    div {
      width: 25px;
      height: 25px;
      margin: 2px;

      line-height: 25px;
      text-align: center;
      color: white;
      text-shadow: 1px 1px black;
    }
  }
}